<div class="container">
    <div class="page-header">
        <h1>Listing gists</h1>
    </div>

   <%- if(session[:user_id])  %>
       <%= link_to 'New Gist', new_gist_path, :class => 'btn btn-default' %>
       <br><br/>
   <%- end %>

    <div class="row">
        <%= render @gists %>
    </div>
    <%= paginate @gists, :theme => 'twitter-bootstrap-3' %>
</div>