<div class="container">
    <div class="page-header">
        <h1>Listing gists</h1>
    </div>
    <div class="row">
        <%= render @gists %>
    </div>
    <%= paginate @gists, :theme => 'twitter-bootstrap-3' %>
</div>