<div class="container">
    <div class="page-header">
        <h1>Posts</h1>
    </div>
   
    <%- if(session[:user_id])  %>
        <%= link_to 'New Post', new_post_path, :class => 'btn btn-default' %>
        <br><br/>
    <%- end %>

    <div class="row">
    	<%= render @posts %>
    </div>
    <%= paginate @posts, :theme => 'twitter-bootstrap-3' %>
</div>