<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="posts/new">New post</a></li>
  <li><a href="gists/new">New gist</a></li>
</ul>

<div class="page-header">
    <h1>Listing posts</h1>
</div>
<div class="container">
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Content</th>
                <th>Date</th>
                <th>Description</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody class="page">
            <%= render @posts %>
        </tbody>
    </table>
    
    <br>

    <%= paginate @posts %>
</div>
